form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer {
  position: absolute;
  bottom: 0;
}
h1 {
  margin-top: 50px;
}
#main {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  align-items: center;
}
.principal-buttons {
  background: #e94057;
  border-radius: 15px;
  width: 295px;
  height: 56px;
  border: none;
  color: #ffffff;
  text-align: center;
}
.principal-buttons:hover {
  cursor: pointer;
}
.secundary-buttons {
  text-align: center;
  background: #ffffff;
  width: 295px;
  height: 56px;
  border: 1px solid #e8e6ea;
  border-radius: 15px;
}
.secundary-buttons:hover {
  cursor: pointer;
  text-align: center;
}
.text-input {
  background: #ffffff;
  border: 1px solid #e8e6ea;
  border-radius: 15px;
  width: 100%;
  max-width: 295px;
  height: 58px;
}
.head {
  position: fixed;
  background-color: white;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.skip {
  color: #e94057;
  text-decoration: none;
}
/* #####tela inicial ################# */
#logosigninup {
  margin-top: 100px;
}
#logosigninup-h1 {
  margin-top: 100px;
}

/* ######tela inicial fim################ */

/* ###onboardin################################################################################# */

.carrosel .imagem {
  width: 235px;
  height: 360px;
  border-radius: 15px;
  display: none;
}
.carrosel .imagem.ativa {
  display: flex;
}
.botoes-carrossel .botao {
  background: #000000;
  opacity: 0.1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  border-color: #ffffff;
}
.botoes-carrossel .botao.selecionado {
  background: #e94057;
  opacity: 1;
}
.onboardin-title {
  font-family: "Sk-Modernist";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #e94057;
}
.onboardin-description {
  font-family: "Sk-Modernist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  color: #323755;
}

.onboardin-radio {
  background: #e94057;
  box-shadow: 0px 15px 15px rgba(233, 64, 87, 0.2);
}
.onboardin-signin {
  font-family: "Sk-Modernist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.onboardin-signin a {
  color: #e94057;
  text-decoration: none;
  font-weight: 600;
}
/* ####onboardin final########################## */

/* ###singup################# */
#avatar-preview {
  border-radius: 50%;
  cursor: pointer;
}
/* ###singup final################# */
.interests-options {
  width: 140px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e8e6ea;
  border-radius: 15px;

  border-radius: 15px;
  cursor: pointer;
}
.interests-options-select {
  width: 140px;
  height: 45px;
  background: #e94057;
  box-shadow: 0px 15px 15px rgba(233, 64, 87, 0.2);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.interests {
  display: flex;
  gap: 15px;
  width: 450px;
}
.interests-buttons {
  margin: auto;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
/* ###mainAppView################ */
.img-user {
  margin-top: 100px;
  width: 250px;
  height: 350px;
  border-radius: 15px;
}
.interactions {
  max-width: 300px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin-bottom: 100px;
}
.interactions .interaction {
  background: #ffffff;
  border: none;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.interactions .heart {
  background: #e94057;
  border: none;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  box-shadow: 0px 15px 15px rgba(233, 64, 87, 0.2);
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  max-width: 350px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background: #f3f3f3;
}
.footer * {
  background: transparent;
  border: none;
  width: 64px;
  height: 64px;

  cursor: pointer;
}

.footer #iconProfile {
  border-radius: 50%;
  width: 34px;
  height: 34px;
}
/* ###mainAppView Final################ */
/* ####YourMatches################# */
.yourMatchs {
  display: flex;
  flex-direction: row;
}
.metch-container {
  margin: 100px 10px;
  background-color: #000000;
  border-radius: 16px;
}
.yourMatchs .matchs-interactions {
  max-width: 300px;
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  background-color: #000000;
  opacity: 0.7;
}
.yourMatchs .matchs-interactions .interaction {
  background: transparent;
  border: none;
  width: 100%;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  color: white;
}
.yourMatchs .matchs-interactions .interaction * {
  background: transparent;
  border: none;
  width: 50px;
  cursor: pointer;
  color: white;
}
/* ####finalYourMatches################# */

/* #####profile################################## */

#logoProfile {
  margin-top: 100px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/* #####profile################################## */
